<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <img src="{% url 'video_feed' %}" />
            </div>
        </div>
    </div>
   <br><br><br><br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="" method="">
                    <input class="form-control" name="input-video" type="file" />
                    <br><br>
                    <div class="float-end">
                        <button style="background-color: green;" class="border ps-3 pe-3 pt-1 pb-1 rounded" type="submit">Process Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<br><br><br>
    {% endblock %}
    
</body>
</html>